<div style="width: 400px; margin: auto;">
    <div class="form-group">
        <label class="form-label">Nombre Cliente</label>
        <input type="text" class="form-control input-sm" id="nombre" name="nombre" [(ngModel)]="compra.nombreCliente" />

    </div>
    <div class="form-group">
        <label>Tipo de Facturaci&oacute;n</label>
        <input type="text" required class="form-control input-sm" id="tipoFacturacion" name="tipoFacturacion"
            [(ngModel)]="compra.tipoFacturacion" />
    </div>
    <div class="form-group">
        <label>Total a Pagar</label>
        <input type="text" required class="form-control input-sm" id="total_pagar" name="total_pagar"
            [(ngModel)]="compra.total_pagar" />
    </div>
    <div class="form-group">
        <label>Id Producto</label>
        <input type="text" required class="form-control input-sm" id="idProducto" name="idProducto"
            [(ngModel)]="producto.idProducto" />
    </div>
    <div class="form-group">
        <label>Cantidad</label>
        <input type="number" required class="form-control input-sm" id="cantidad" name="cantidad"
            [(ngModel)]="producto.cantidad" />
    </div>  

    <button (click)="save()" type="submit" class="btn btn-primary">Guardar Dato</button>
    <div *ngIf="submitted" class="toast-body">
        Dato guardado correctamente
    </div>
    <table>
        <tr>
            <th>
                id
            </th>
            <th>
                Nombre
            </th>
        </tr>
        <tr *ngFor="let orden of allCompras">
            <td>{{orden['id']}}</td>
            <td>{{orden['nombreCliente']}}</td>
            <td>{{orden['tipoFacturacion']}}</td>
            <td>{{orden['total_pagar']}}</td>
        </tr>
    </table>
</div>
